    <!-- location Section -->
    <section id="accomodationstravel" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2><a href="http://www.thornewoodcastle.com/">Thornewood Castle</a> in Lakewood, WA</h2>
                <p>8601 N Thorne Ln SW, Lakewood, WA 98498</p>
                <p>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2714.404049169973!2d-122.55342168520575!3d47.1303496287496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x549106eb28e90023%3A0xdb06cf2c059927e5!2sThornewood+Castle+Bed+and+Breakfast!5e0!3m2!1sen!2sus!4v1548713626724" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                </p>
                <h2>Lodging</h2>
                <p>Guests are responsible for handling their own lodging, however we hope you can join us at <a href="https://www.mcmenamins.com/elks-temple">McMennamin's Elk Temple</a> in Tacoma, WA. Jess & Pablo will be staying there from 10/18 to 10/21. Be sure to book your room early as they will book up.</p>
                <p>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2707.8800583694774!2d-122.44305028519997!3d47.25804861998505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x549055e9229456bf%3A0x2db82f4e7da3e668!2sMcMenamins+Elks+Temple!5e0!3m2!1sen!2sus!4v1548714030788" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                  </p>
                <h2>Transportation</h2>
                <p>We will be hiring a shuttle to and from downtown Tacoma on the day of the ceremony to Thornewood Castle. Tacoma and Seattle both have great transit systems, and Lyft is available. We also encourage guests to carpool.
                  </p>
            </div>
        </div>
    </section>
