    <!-- faq Section -->
    <section id="faq" class="container content-section text-center">
        <div class="row">
          <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>FAQ</h2>
                  <h3>Can I bring a guest?</h3>
                  <p>
                  In order to keep our ceremony and reception intimate, only those individuals to which the invitation is addressed to are invited.
                  </p>
                  <h3>What is the dress code?</h3>
                  <p>
                  Formal or semi-formal attire is requested. If you'd like to be on theme with the venue consider a 1910-1920's high society look.
                  </p>
                  <h3>When should I RSVP?</h3>
                  <p>
                  Fill out our RSVP form as soon as you can. We'd like a final guest count before September 1st.
                  </p>
                  <h3>Are children welcome?</h3>
                  <p>
                  Children are welcome to come, however we won't plan have any special kid-friendly entertainment.
                  </p>
                  <h3>What kind of cuisine will be served?</h3>
                  <p>
                  Guests will be treated to a family-style feast of Puerto Rican food, with gluten-free and vegetarian options available. Please indicate on your RSVP if you have dietary constraints.
                  </p>
                  <h3>Where should I stay?</h3>
                  <p>
                  See <a class="page-scroll" href="#lodging">lodging</a> for more information. Guests are encouraged to stay at the Elks Temple in Tacoma, and we will provide a shuttle from that location to the wedding venue for the ceremony.
                  </p>
                  <h3>What about transportation?</h3>
                  <p>
                  We will be reserving a <s>party bus</s> shuttle to transport guests to and from the Elks Temple in Tacoma and the Thornewood Castle. If you choose drive the castle has parking on site. If you are flying in to SeaTac airport, we suggest either public transportation or Lyft to get to your hotel.
                  </p>
                  <h3>What are some things to do near Seattle?</h3>
                  <p>
                    We've collected a few of our favorite places into this google map:
                    </p>
                  <div class="google-maps">
                  <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1rU16BT6NOVatUUzCyfYh13TJSyuB6Vsh" width="600" height="250" frameborder="0" style="border:0">
                  </iframe>
                </div>
            </div>
        </div>
        </div>
    </section>
