    <!-- faq Section -->
    <section id="faq" class="container content-section text-center">
        <div class="row">
          <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>
                  FAQ
                </h2>
                <p>
                  <b>Can I bring a guest?</b>
                  <br>
                  In order to keep our ceremony and reception small we ask that you do not bring a guest.
                  <br><br>
                  <b>What is the dress code?</b>
                  <br>
                  Formal attire please, with black and rich jewel tones encouraged. If you'd like to be on theme with the venue consider a 1910-1920's high society look.
                  <br><br>
                  <b>When should I RSVP?</b>
                  <br>
                  Fill out our RSVP form as soon as you can. We'd like a final guest count before September 1st.
                  <br><br>
                  <b>Are children welcome?</b>
                  <br>
                  Children are welcome to come, however we won't plan have any special kid-friendly entertainment.
                  <br><br>
                  <b>What kind of food will be at the reception?</b>
                  <br>
                  Dinner will be family-style Puerto Rican food. We will have ample gluten-free and vegetarian/vegan options available. Please let us know on your RSVP of your dietary preferences.
                  <br><br>
                  <b>Where should I stay?</b>
                  <br>
                  See <a class="page-scroll" href="#lodging">lodging</a> for more information. Guests are encouraged to stay at the Elks Temple in Tacoma, and we will provide a shuttle from that location to the wedding venue for the ceremony.
                  <br><br>
                  <b>What about transportation?</b>
                  <br>
                  We will be reserving a <s>party bus</s> shuttle to transport guests to and from the Elks Temple in Tacoma and the Thornewood Castle. If you choose drive the castle has parking on site. If you are flying in to SeaTac airport, we suggest either public transportation or Lyft to get to your hotel.
                  <br>
                  </p>
                  <p> Looking for suggestions for things to do in the Seattle area? We've put together a map of our favorite spots: </p>
                  <br>
                  <div class="google-maps">
                  <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1rU16BT6NOVatUUzCyfYh13TJSyuB6Vsh" width="600" height="250" frameborder="0" style="border:0">
                  </iframe>
                </div>
            </div>
        </div>
        </div>
    </section>
