    <!-- location Section -->
    <section id="location" class="content-section text-center">
        <div class="row">
          <div class="container">
          <div class="col-lg-8 col-lg-offset-2">
            <h2> Location </h2>
            <br>
            <img class="section" src="/img/thornewood.jpg">
            <br>
                <a href="http://www.thornewoodcastle.com/">Thornewood Castle</a>
                <p>
                  8601 N Thorne Ln SW, Lakewood, WA 98498
                </p>
                <p>
                  The ceremony and reception will be held at the historic Thornewood Castle in Lakewood, WA. The Thornewood is a nearly
                  500-year old Elizabethan manor, originally located in England but painstakingly shipped and re-assembled in Washington
                  under the purchase of Mr. Chester Thornewood. More recently, the Thornewood was used as the filming location for the
                  Stephen King miniseries <i>Rose Red</i>.
                </p>
            <div class="google-maps">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2714.404049169973!2d-122.55342168520575!3d47.1303496287496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x549106eb28e90023%3A0xdb06cf2c059927e5!2sThornewood+Castle+Bed+and+Breakfast!5e0!3m2!1sen!2sus!4v1548713626724" width="600" height="250" frameborder="0" style="border:0">
              </iframe>
            </div>
            </div>
          </div>
    </section>
