    <!-- lodging Section -->
    <section id="lodging" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>
                  Lodging
                </h2>
                <p>
                  Guests are responsible for handling their own lodging, however we hope you can join us at <a href="https://www.mcmenamins.com/elks-temple">McMennamin's Elk Temple</a> in Tacoma, WA. Jess & Pablo will be staying there from 10/18 to 10/21. Be sure to book your room early as they will book up.
                </p>
                <p>
                  <div class="google-maps">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2707.8800583694774!2d-122.44305028519997!3d47.25804861998505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x549055e9229456bf%3A0x2db82f4e7da3e668!2sMcMenamins+Elks+Temple!5e0!3m2!1sen!2sus!4v1548714030788" width="600" height="250" frameborder="0" style="border:0">
                    </iframe>
                  </div>
                  </p>
            </div>
        </div>
    </section>
