    <!-- registry Section -->
    <section id="registry" class="container content-section text-center">
      <div class="registry-section">
        <div class="container">
        <div class="col-lg-8 col-lg-offset-2">
                <h2>
                  Registry
                </h2>
                <p>
                  Since most of our guests will be coming from far away, we consider your visit to celebrate with us to be the best gift of all. However, if you would like to contribute to our honeymoon fund please have a look at our <a href="https://www.zola.com/registry/morwicke2019" data-registry-key="morwicke2019"> Zola registry page</a>.
                </p>
            </div>
        </div>
        </div>
    </section>
